---
const PROJECTS = [
    {
        title: "Project 1",
        description: "#",
        link: "#",
        github: "#",
        image: "",
        tags: ["HTML", "SCSS", "TypeScript"],
    },
];
---

{
    PROJECTS.map(({ title, description, tags ,image}) => (
        <article>
            <h3>{title}</h3>
            <p>{description}</p>
            <ul>
                {tags.map((tag) => (
                    <li>{tag}</li>
                ))}
            </ul>
            <img src={image} alt=`Captura de pantalla del proyecto ${image}`/>

        </article>
    ))
}
